import { Component, OnInit } from '@angular/core';
import { SharedService } from '../shared.service';

@Component({
  selector: 'app-product-details',
  template: `
    <h3>Product Details</h3>
    <div *ngIf="selectedProduct">
      <p><strong>Name:</strong> {{ selectedProduct.name }}</p>
      <p><strong>Details:</strong> {{ selectedProduct.details }}</p>
    </div>
    <p *ngIf="!selectedProduct">No product selected.</p>
  `,
  styles: []
})
export class ProductDetailsComponent implements OnInit {
  selectedProduct: any;

  constructor(private sharedService: SharedService) {}

  ngOnInit(): void {
    this.sharedService.selectedProduct$.subscribe(product => {
      this.selectedProduct = product;
    });
  }
}